{
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports",
    [
      "transform-imports",
      {
        "react-bootstrap": {
          "transform": "react-bootstrap/lib/${member}",
          "preventFullImport": true
        },
        "react-overlays": {
          "transform": "react-overlays/lib/${member}",
          "preventFullImport": true
        },
        "react-router": {
          "transform": "react-router/lib/${member}",
          "preventFullImport": true
        },
        "react-router-bootstrap": {
          "transform": "react-router-bootstrap/lib/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "presets": ["react", "es2015", "stage-0"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "lodash"
      ]
    }
  }
}
