{
  "extends": "@lukekarrys/eslint-config",
  "settings": {
    "import/external-module-folders": ["node_modules", "lib"],
    "import/core-modules": ["config"],
  },
  "rules": {
    "no-case-declarations": 0,
    "react/prop-types": [2, {
      "ignore": [
        "me",
        "dispatch",
        "params",
        "routes",
        "location",
        "event",
        "locks",
        "locked",
        "mocked",
        "entriesActions",
        "entryActions",
        "eventActions",
        "mastersActions",
        "meActions",
        "usersActions",
        "routeActions",
        "canWinActions",
        "routerActions"
      ]
    }]
  }
}
