{
  "extends": "@lukekarrys/eslint-config",
  "rules": {
    "no-case-declarations": 0,
    "no-magic-numbers": 0,
    "react/prop-types": [2, {
      "ignore": [
        "dispatch",
        "params",
        "routes",
        "location",
        "event",
        "locks",
        "locked",
        "entriesActions",
        "entryActions",
        "eventActions",
        "mastersActions",
        "meActions",
        "usersActions"
      ]
    }]
  }
}
