.subnav
  ul.nav.nav-pills
    - for (var region in regions)
      li
        a(href="#" + region)= regions[region].name
    li
      a(href= "#" + finalRegion.id)= finalRegion.name
    - if (live)
      li
        a.disabled(id= "tweet-button", href="#") Tweet It!

#bracket
  - for (var region in regions)
    - var id = region, region = regions[region], extraClasses = 'starting-region'
      include region

  - var id = finalRegion.id, region = finalRegion, extraClasses = 'final-region'
    include region