ul.matchup
  - if (matchup || matchup === null)
    li
      - if (matchup)
        - var team = matchup
        include team
      - else
        a &nbsp;
  - if (matchup2 || matchup2 === null)
    li
      - if (matchup2)
        - var team = matchup2
        include team
      - else
        a &nbsp;