section.bracket.clearfix(id= id, class= extraClasses)
  .page-header
    h1= region.name
  - for (var i = 0, m = region.rounds.length; i < m; i++)
    - var round = region.rounds[i]
      .round
        - for (var ii = 0, mm = round.length; ii < mm; ii += 2)
          - var matchup = round[ii], matchup2 = round[ii+1]
            include matchup