- for (var region in regions)
  - var id = region, region = regions[region], extraClasses = 'starting-region'
    include region

- var id = finalRegion.id, region = finalRegion, extraClasses = 'final-region'
  include region