extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 Talk about an upset!
      .span12
        - if (typeof userUrl === 'string')
          h3 @#{userUrl} doesn't have a bracket yet
          p Let them know that they should make a bracket, before it's too late!
          a(href= "https://twitter.com/intent/tweet?screen_name=" + userUrl, class="twitter-mention-button", data-size="large") Tweet To @#{userUrl}
        - else
          h3 We either had a problem or that page might not exist. Let us know on Twitter if you think something is wrong.
          a(href= "https://twitter.com/intent/tweet?screen_name=TweetTheBracket", class="twitter-mention-button", data-size="large") Tweet To @TweetTheBracket
