extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 Frequently Asked Questions

  h3 I tweeted my bracket but my user page isn't working. What happened?
  p Wait a few minutes, if your page still isn't up, drop us a line on Twitter.

  h3 You do I know if I'm entered?
  p Go to tweetyourbracket.com/user/YOURTWITTERUSERNAME. If you're entered, that page will show your latest bracket.

  h3 I clicked the link to someone's bracket and I could change their picks?
  p With TweetYourBracket.com, anyone can post their bracket from any page, just by tweeting a link to that page. So you're not changing anyone's picks, you're just editing a bracket that's ready to be tweeted and entered.

  h3 I sent multiple tweets, which one will get entered?
  p We use the latest tweet you send, up to the tipoff of the first Round of 64 game.

  h3 When do entries close?
  p Entries will close a few minutes before the tipoff of the first Round of 64 game. Or more precisely, #{lockTime}.

  h3 Play in games? Why is it called the Second Round now? Do those games count?
  p The Round of 64 will always be the First Round in our heart. We will update the bracket with the winners of the play-in/first round games as they happen on Tuesday and Wednesday. If you pick a bracket before any of those games are finished, you are essentially picking the seed you think will win that game.

  h3 I have more questions!
  p We'd love to answer it on Twitter. We assume you've heard of it. :)

  a(href= "https://twitter.com/intent/tweet?screen_name=TweetTheBracket&text=I%20have%20a%20question", class="twitter-mention-button", data-size="large") Ask @TweetTheBracket a Question
