extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 Tweet Your Bracket
        - if (live)
          ol
            li Complete your bracket below.
            li
              | Click the highlighted 
              span.tweet-btn Tweet Your Bracket!
              |  button.
            li Post your tweet.
          .alert.alert-error Make sure to keep the hashtag and link in your tweet. That's how we find and enter your bracket.
        - else
          .alert.alert-error
            button.close(type= "button", data-dismiss= "alert", href="#") &times;
            strong Sorry, the brackets are closed for the year.

  include includes/bracket/bracket
