extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 Tweet Your Bracket
        - if (live)
          ol
            li Complete your bracket below.
            li
              | Click the highlighted 
              span.tweet-btn Tweet Your Bracket!
              |  button.
            li Post your tweet.
          .alert.alert-error Make sure to keep the hashtag and link in your tweet. That's how we find and enter your bracket.
        - else
          .alert.alert-error Picks have locked for the year.
          p
           | Check out the bracket below for the latest results and the 
           a(href="/results") results page
           |  to see how each bracket ranks.


  include includes/bracket/bracket
