extend layout
block content
  header#overview.jumbotron.subhead
    .row
      .span12
        h1 @#{entry.username}
      .span12
        - if (live)
          h3 Is this your bracket?
          p If so, sweet! You're in.
          h3
            | Not your bracket? 
            a(href= "/") Start Picking!
          p You could even edit this bracket any way you like and then tweet it. Don't worry nothing will happen to @#{entry.username}'s bracket.
        - else
          h3
            | This is their final bracket. Check the 
            a(href="/results") results 
            | to see how they stack up against the rest.

  include includes/bracket/bracket

