/* bracket positioning styles */
.bracket {
  padding-top: 82px; }
  .bracket .round {
    width: 20%;
    float: left; }
    .bracket .round ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .bracket .round ul li {
        border-bottom: 1px solid #000;
        margin: 0;
        padding: 1em 0 0 0;
        overflow: hidden; }
        .bracket .round ul li:last-child {
          border-right: 1px solid #000; }
        .bracket .round ul li a {
          padding-left: 0.25em;
          display: block;
          white-space: nowrap;
          cursor: pointer; }
          .bracket .round ul li a:hover, .bracket .round ul li a.selected {
            text-decoration: none; }
    .bracket .round:nth-of-type(3) ul {
      margin-top: 1.3em;
      margin-bottom: 2.8em; }
      .bracket .round:nth-of-type(3) ul li:last-child {
        padding-top: 3.25em; }
    .bracket .round:nth-of-type(4) ul {
      margin-top: 4em;
      margin-bottom: 7.3em; }
      .bracket .round:nth-of-type(4) ul li:last-child {
        padding-top: 8.25em; }
    .bracket .round:nth-of-type(5) ul {
      margin-top: 9em; }
      .bracket .round:nth-of-type(5) ul li:last-child {
        padding-top: 18.25em; }
    .bracket .round:nth-of-type(6) ul {
      margin-top: 19em; }
      .bracket .round:nth-of-type(6) ul li:last-child {
        border-right: none; }

#FF {
  padding-bottom: 142px; }
  #FF .round {
    width: 33%; }
  #FF .round:nth-of-type(4) ul {
    margin-top: 4.5em;
    margin-bottom: 0; }
    #FF .round:nth-of-type(4) ul li:last-child {
      border-right: none;
      padding-top: 0; }

#main-menu-left li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.2); }
#main-menu-left .navbar-search {
  margin-left: 10px; }
  #main-menu-left .navbar-search .input-prepend {
    margin: 0; }

#tweet-button.disabled {
  opacity: 0.65;
  filter: alpha(opacity=65); }
  #tweet-button.disabled:hover {
    color: #dd4814;
    cursor: default; }

header h1 {
  line-height: 60px; }

@media (max-width: 979px) {
  .nav-collapse #main-menu-left .navbar-search {
    margin: 0;
    padding: 9px 15px; }

  #main-menu-left li:first-child {
    border-left: none; } }
