.modal.fade.welcome-dialog(tabindex="-1", role="dialog")
  .modal-dialog
    form.modal-content
      .modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
        h3.modal-title What is this?

      .modal-body
        h4 Tweet Your Bracket allows to pick your 
          a(href="http://en.wikipedia.org/wiki/NCAA_Men's_Division_I_Basketball_Championship") NCAA College Basketball Tournament
          |  bracket and enter with a 
          strong single tweet.

        .alert.alert-info
          p The 2014 bracket won't be announced until 
            strong March 16th.
            |  Until then, play around with the 2013 data.
            | Sign up to our 
            a(href='http://tweetyourbracket.com') email list
            |  to be notifed when brackets open.

      .modal-footer
        button.btn.btn-primary.btn-block(type="button", data-dismiss="modal") Cool! Let's Play!