.modal.fade.welcome-dialog(tabindex="-1", role="dialog")
  .modal-dialog
    form.modal-content
      .modal-header
        button(type="button", class="close", data-dismiss="modal") &times;
        h3.modal-title Welcome to Tweet Your Bracket!

      .modal-body
        h4 Tweet Your Bracket allows to pick your 
          a(href="http://en.wikipedia.org/wiki/NCAA_Men's_Division_I_Basketball_Championship") NCAA College Basketball Tournament
          |  bracket and enter with a 
          em single tweet.

        p To enter your bracket:

        ol
          li Make your picks
          li Click the 
            strong Enter My Bracket!
            |  button
          li Follow the link to submit your tweet
        p
          strong Easy, right?
          | 
          span.glyphicon.glyphicon-thumbs-up

      .modal-footer
        button.btn.btn-primary.btn-block(type="button", data-dismiss="modal") Cool! Let's Start!