section.page.entry-page
    div(role="bracket-nav")
    - if (fromEntry)
        .alert.alert-info.alert-dismissable
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            p
                strong You probably clicked on an another person's entry from Twitter.
                - if (isPickable)
                    |  To create your own bracket, use the 
                    span.glyphicon.glyphicon-ban-circle
                    |  button to clear this entry and start making your own.
                - else
                    |  To see all the entries, go to the 
                    a(href='/results') results page
                    | .
    - if (!isPickable && !bracket.hasStarted)
        .alert.alert-info.alert-dismissable
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            p
                strong The tournament has begun and entries have been locked!
                |  Check back soon to see the results.
    div(role="bracket")