#content {
  margin: 5% 2% 0;
}

.footer {
  color: #000;
  margin-top: 150px;
  padding: 0px 4% 40px;
  text-align: center;
  width: auto;
}

.navbar .navbar-inner {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar .btn {
  margin-top: 0px;
}

.navbar form {
  margin: 5px 0 0 10px;
}

#navigation .tweet-button-holder {
  display: block;
  position: absolute;
  top: 6px;
  right: 2%;
}

#navigation .tweet-button-holder .before-message {
  position: relative;
  top: 5px;
}

#navigation .before-message {
  display: block;
}

#navigation .ready .before-message {
  display: none;
}

#navigation .alert-success {
  display: none;
  position: absolute;
  top: 40px;
  left: -27px;
  text-align: center;
  padding: 5px 21px;
}

.hero-unit h1 {
  margin-bottom: 20px;
}

.hero-unit .margin-top {
  margin-top: 20px;
}

.margin-top {
  margin-top: 20px;
}

.hero-unit ol li {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 20px;
}

#navigation .ready .alert-success {
  display: block;
}

#bracket .completed {
  opacity: 0.5;
}

#bracket h2 span.is-complete {
  display: none;
  color: red;
}

#bracket .completed h2 span.is-complete {
  display: inline;
}

#bracket .region {
  overflow: hidden;
}

#bracket .region h2 { 
  margin: 1em 0.5em 0 0.5em;
  color: #006;
  clear: left;
}
#bracket .round h3 { 
  font-size: 0.9em;
  text-align: center;
  height: 2.5em;
  margin-bottom: 0;
}

/* bracket positioning styles */

#bracket .round { 
  width: 19%;
  float: left;
  margin-bottom: 3em;
}

#bracket #FF_region .round {
  width: 30%;
}

#bracket .region-final-four {
  width: 16%;
}

#bracket ol, #bracket ol ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* invisible top border prevents IE from adding margin between lists */
#bracket ol li { 
  border-top: 1px solid #fff;
}

#bracket ol li .correct {
  background: #dff0d8;
  display: block;
}

#bracket ol li .incorrect {
  background: #f2dede;
  display: block;
}

/* general pairing styles, including border lines */
#bracket ol ul li,
#bracket .national-champion ol li,
#bracket .region-final-four ol li  { 
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0;  
  line-height: 2em;
  padding-left: 0.25em;
}

#bracket #FF_region .round li {
  text-align: center;
}

#bracket li.bottom { 
  border-right: 1px solid #000;
}

#bracket .round1,
#bracket .final-four { 
  margin: 0;
  padding: 0;
  margin-left: 0.5;
  min-width: 100px;
}

/* top margins of each column (round) */
#bracket .round2 ol,
#bracket .national-championship ol { 
  margin-top: 1em;
}
#bracket .sweet-sixteen ol,
#bracket .national-champion ol { 
  margin-top: 3em;
}
#bracket .elite-eight ol { 
  margin-top: 7em;
}
#bracket .region-final-four ol { 
  margin-top: 15em;
}

/* expand height of each bracket cell for higher rounds 
  by increasing top padding of the bottom team in each pairing
*/ 
#bracket .round2 li.bottom,
#bracket .national-championship li.bottom { 
  padding-top: 2.25em;
}
#bracket .sweet-sixteen li.bottom { 
  padding-top: 6.5em;  
}
#bracket .elite-eight li.bottom { 
  padding-top: 15.5em;
}

/* expand margin-bottom of each pairing in higher rounds */
#bracket .round2 ol ul { 
  margin-bottom: 2em;
}
#bracket .sweet-sixteen ol ul { 
  margin-bottom: 6.5em;
}

#bracket a.pickable {text-decoration: none;}

@media (max-width: 768px) {
  #navigation .tweet-button-holder {
    top: 42px;
  }
  .navbar-inner {
    padding-bottom: 35px;
  }
}

@media (max-width: 635px) {
  #navigation form {
    top: 35px;
    position: fixed;
    left: 0px;
  }
}

@media (max-width: 480px) {
  #navigation form input {
    width: 90px;
  }
}