@import url("//fonts.googleapis.com/css?family=Ubuntu");

body {
    counter-reset: rankCounter;
}

.progress-holder {
    position: relative;
    strong {
        position: absolute;
        left: 2%;
    }
}

.margin-bottom-collapse {
    margin-bottom: 0 !important;
}

.welcome-dialog {
    .modal-body {
        padding-bottom: 0;
    }
    h4 {
        margin: 0 0 20px 0;
    }
}

.bracket-info {
    text-align: center;
}

th[role] {
    cursor: pointer;
}

.table .rank {
    counter-increment: rankCounter;
    &:before {
        content: counter(rankCounter);
    }
}


.collaborate-page {

    .videos {
        height: 0px;
    }

    &.has-videos {
        .bracket {
            padding-top: 69px;
        }

        .videos {
            .clearfix();
            position: fixed;
            top: 42px;
            right: 0px;
            width: 100%;
            padding: 7.5px;
            background: @navbar-default-bg;
            border-bottom: 1px solid @navbar-default-border;
            height: 157px;
            z-index: 100;
            &.affix {
                top: 0px;
            }
        }

        #localVideo {
            margin-left: 0;
        }

        video {
            outline: 0px;
            height: 140px;
            -webkit-transform: scaleX(-1);
            float: left;
            margin-left: 10px;
        }

        #remote {
            float: left;
        }
    }




}

@import "bracket.less";