.bracket-header {
    .clearfix();

    height: 38px;
    overflow: hidden;
    margin: 10px 0;

    .affix {
        top: 0;
        left: 0;
        right: 0;
        padding: 0 (@grid-gutter-width / 2);
        z-index: 100;
        background: #ccc;
    }

    .btn-toolbar, .tweet-button, .progress {
        float: left
    }
}