.bracket {
  overflow: hidden;
  position: relative;

  .region {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
  }

  .region-name {
    position: absolute;
    top: 279px;
    right: 23%;
    margin: 0;
  }

  .final-region .region-name {
    top: 67px;
    right: 42%;
  }

  .round {
    width: 20%;
    float: left;

    .matchup:first-child li:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    &:nth-child(2) {
      .matchup {
        margin-top: 1.3em;
        margin-bottom: 2.8em;
        li:last-child {
          padding-top: 3.25em;
        }
      }
    }

    &:nth-child(3) {
      .matchup {
        margin-top: 4em;
        margin-bottom: 7.3em;
        li:last-child {
          padding-top: 8.25em;
        }
      }
    }

    &:nth-child(4) {
      .matchup {
        margin-top: 9em;
        li:last-child {
          padding-top: 18.25em;
        }
      }
    }

    &:last-child {
      .matchup {
        margin-top: 19em;
        li:last-child {
          border-right: none !important;
          border-left: none !important;
        }
      }
    }

    .matchup:last-child {
      margin-bottom: 0;
    }
  }

  .matchup {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #000;
      margin: 0;
      padding: 1em 0 0 0;
      position: relative;

      &:last-child {
        border-right: 1px solid #000;
      }
    }
  }

  .team {
    display: block;
    white-space: nowrap;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 2px;

    &:hover, &.selected {
      text-decoration: none;
    }

    &.pickable {
      cursor: pointer;
      color: #dd4814;
      &:hover, &.selected {
        color: #97310e;
      }
    }

    &.correct, &.incorrect {
      background: #38b44a;
      color:#000;
      text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
    }

    &.incorrect {
      background: #df382c;
      text-decoration: line-through;
      font-style: italic;
      .team-name, .seed {
        text-decoration: line-through;
        font-style: italic;
      }
    }

    &.eliminated {
      text-decoration: line-through;
      font-style: italic;
      .team-name, .seed {
        text-decoration: line-through;
        font-style: italic;
      }
    }

    .seed {
      font-size: 0.75em;
      color: #000;
      padding-top: 4px;
      padding-right: 2px;
      float: left;
    }

    .team-name {
      font-size: 0.9em;
    }

    .should-be {
      font-style: normal;
      text-decoration: none;
      position: absolute;
      bottom: 18px;
      left: 1px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 2px;
      .team-name, .seed {
        font-style: normal;
        text-decoration: none;
      }
    }
  }

  .final-region .round {
    width: 33.3333333333%;
    &:last-child {
      .matchup {
        margin-top: 4.5em;
        margin-bottom: 0;
        li:last-child {
          border-right: 0;
          padding-top: 0;
        }
      }
    }
  }

  .large-screen-final {
    position: absolute;
    top: 50%;
    top: calc(~"50% - 21px");
    top: -moz-calc(~"50% - 21px");
    top: -webkit-calc(~"50% - 21px");
    left: 50%;
    width: 430px;
    margin-left: -215px;
    text-align: center;

    .should-be {
      text-align: center;
    }

    .round {
      width: auto;
      float: none;
    }

    .round .matchup {
      margin: 0;
    }

    .round .matchup li, .round .matchup li:last-child {
      margin: 0;
      padding: 0;
      border: none;
      width: 50%;
      float: left;
    }

    .round:first-child {
      .clearfix();
      li:first-child {
        .team, .should-be {
          margin-right: 16px;
          text-align: right;
          .seed {
            float: right;
            padding-right: 0;
            padding-left: 2px;
          }
          .should-be {
            left: inherit;
            right: 0px;
          }
        }
      }
      li:last-child {
        .team, .should-be {
          margin-left: 16px;
          text-align: left;
        }
      }
    }

    .round:last-child {
      padding-top: 25px;
      width: 75%;
      margin: 0 auto;

      .seed {
        float: none;
      }

      .matchup {
        border: 1px solid #000;
        background: #fff;
        padding: 5px;
      }

      .matchup li {
        width: 100%;
        float: none;
      }

      a {
        font-size: 2em;
      }

      .should-be {
        font-size: 0.6em;
        top: -27px;
        right: 166px;
        left: inherit;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    .region-name, .final-region .region-name {
      top: 0;
      left: 0;
    }

    .region {
      overflow-x: auto;
    }

    .rounds {
      min-width: 750px;
      margin-top: 35px;
      
    }

    .final-region .rounds {
      min-width: 450px;
    }

    .round {
      min-width: 150px;
    }
  }

  @media (min-width: @screen-md-min) {
    .final-round-borders {
      border-right: 1px solid #000;
      position: absolute;
      right: 15px;
      height: 301px;
      bottom: 25%;
      bottom: calc(~"25% + 1px");
      bottom: -moz-calc(~"25% + 1px");
      bottom: -webkit-calc(~"25% + 1px");
      width: 1px;
      z-index: 1;
    }

    .initial-region:first-child + .final-round-borders {
      bottom: inherit;
      top: 25%;
      top: calc(~"25% - 2px");
      top: -moz-calc(~"25% - 2px");
      top: -webkit-calc(~"25% - 2px");
      height: 290px;
      border-bottom: 1px solid #000;
      width: 200px;
    }

    .right-side {
      .final-round-borders {
        right: inherit;
        left: 15px;
        border-right: none;
        border-left: 1px solid #000;
      }

      .region-name {
        right: inherit;
        left: 23%;
        text-align: right;
      }

      .round {
        float: right;
      }

      .round .matchup li:last-child {
        border-right: none;
        border-left: 1px solid #000;
      }

      .team {
        text-align: right;
      }

      .should-be {
        left: inherit;
        right: 1px;
      }

      .seed {
        float: right;
        padding-right: 0;
        padding-left: 2px;
      }
    }
  }
}