@import '~lesshat/lesshat-prefixed';
@import "~bootstrap/less/bootstrap.less";
@import '~bootswatch/united/variables.less';
@import '~bootswatch/united/bootswatch.less';

@navbar-border-radius:    0px;
@navbar-margin-bottom:    0px;
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

@large-bracket-min: @screen-md-min;
@small-bracket-max: 500px;
@small-bracket-min: (@small-bracket-max + 1);

@import 'main.less';
@import 'main-nav.less';
@import 'bracket.less';
@import 'bracket-header.less';
@import 'score-card.less';
@import 'ball-loader.less';
@import 'footer.less';
