.container {
    width: 100%;
}

.navbar {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: @navbar-default-border;
}

.follow-button {
    margin-bottom: 5px;
}

.margin-bottom-collapse {
    margin-bottom: 0 !important;
}


.bracket-info {
    text-align: center;
}

.user-info {
    text-align: center;

    a.twitter-link img {
        height: 15px;
    }

    h2 {
        margin: 10px 0;
    }
}

footer {
    margin: 40px 0 20px;
    padding: 20px 0;
    border-top: 1px solid @gray-light;
    color: #777;

    .footer-links {
        padding: 0;
        li {
            display: inline;
            padding: 0 2px;
        }
    }
}
