.popover-content .alert {
  margin: 0 -15px;
  border-radius: 0;

  &:last-child {
    .border-bottom-radius(@border-radius-large);
    margin-bottom: -10px;
  }
}

th {
  a.disabled:hover {
    text-decoration: none;
    color: @link-color;
    cursor: default;
  }

  .glyphicon {
    margin-left: 5px;
    font-size: 11px;
  }
}
