.navbar {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: @navbar-default-border;
}

.popover-content .alert:last-child {
    margin: 0 -15px -10px;
    .border-top-radius(0);
}

footer {
    margin: 40px 0 20px;
    padding: 20px 0;
    border-top: 1px solid @gray-light;
    color: #777;

    .footer-links {
        padding: 0;

        li {
            display: inline;
            padding: 0 2px;
        }

        .follow-button {
            position: relative;
            top: 5px;
            padding-left: 4px;
        }
    }
}
