mixin me(me)
  - if (me.username)
    li(role="user-nav")
      a(href="#", data-toggle="dropdown")
        | #{me.username}
        b.caret
      ul.dropdown-menu(role="menu")
        li
          a(href=me.pageLink) Bracket
        li.divider
        li
          a(href="#", role="logout") Not you?


body
  header
    .navbar.navbar-default(role="navigation")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#header-nav")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Tweet Your Bracket

      #header-nav.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right(role="main-nav")
          li
            a(href="#", role="subscribe") Subscribe
          li
            a(href="/results") Results
          li(role="collaborate-nav-item")
            a(href="#", role="collaborate") Collaborate
          mixin me(me)

  .container
    main#pages(role="page-container")

    footer.footer
      ul.footer-links
        li
          a(href="http://2012.tweetyourbracket.com") 2012
        li.muted &middot;
        li
          a(href="http://2013.tweetyourbracket.com") 2013
        li.muted &nbsp;|&nbsp;
        li
          a(href="https://twitter.com/tweetthebracket") Twitter
        li.muted &middot;
        li
          a(href="https://github.com/tweetyourbracket") GitHub
        li.muted &middot;
        li
          a(href="http://lukecod.es/2014/01/25/tweet-your-bracket/") What Is This?
      p.follow-button
        a.twitter-follow-button(href="https://twitter.com/TweetTheBracket" data-show-count="false") Follow @TweetTheBracket
      p
        | Made with love by 
        a(href="http://twitter.com/lukekarrys") Luke
        |  &amp; 
        a(href="http://twitter.com/danielrensch") Danny
        |  in Arizona.