---
title: Questions
questions: active
---

<div class="hero-unit">
<h1>Have a question?</h1>
<p>We'd love to answer it on Twitter. And we'll be posting some answers here too once we get a chance.</p>
<a href="https://twitter.com/intent/tweet?screen_name=TweetTheBracket&text=I%20have%20a%20question..." class="twitter-mention-button" data-size="large">Tweet to @TweetTheBracket</a>
</div>
