---
title: Questions
questions: active
---

<div class="hero-unit">
<h1>Have a question?</h1>
<p>We'd love to answer it on Twitter. And we'll be posting some answers here too once we get a chance.</p>
<a href="https://twitter.com/intent/tweet?screen_name=TweetTheBracket&text=I%20have%20a%20question..." class="twitter-mention-button" data-size="large">Tweet to @TweetTheBracket</a>
</div>

<h2>Frequently Asked Questions</h2>

<h3 class="margin-top">I tweeted my bracket but my user page isn't working. What happened?</h3>

<p>Make sure that the URL you post is shortened with Twitter's t.co shortener. If other URL shorteners are used they might obfuscate the bracket code and make it hard for us to enter your tweet. But no worries, just tweet again from the site and you should be good to go.</p>

<h3 class="margin-top">I went to my user page but it says "Tweet Your Bracket" or "Your Bracket is Incomplete!". Am I entered?</h3>

<p>Yes. If your user page exists you are entered. We keep those messages on every page because with tweetyourbracket.com anyone on Twitter can post their bracket from any page. And if you want to update your bracket, just send another Tweet. We will use your latest one.</p>
