---
title: Create and Share Your Bracket Through Twitter
home: active
---
<div class="hero-unit">
  <h1>Tweet Your Bracket!</h1>

  <p>TweetYourBracket.com is the fastest and easiest way to share your March Madness picks with friends, family, followers and the world, all through Twitter! Make your picks, tweet 'em, and start bragging about your bracket!</p>

  <p>After completing the bracket on this page and you'll be given a tweet to share. Posting the provided tweet will act as your official entry. Make sure to keep the official Tweet Your Bracket hashtag (<a href="http://twitter.com/search/%23tybrkt">#tybrkt</a>) and your bracket identifier hashtag so we can track and enter your tweet.</p>

  <p>Want to know how this works? Check out the <a href="https://gist.github.com/2028007">bracket validator</a> to get the geeky goodness. You can also use the logic there to enter your tweet without even using this page. You just need to post the tweet!</p>
</div>

{{{bracket}}}