---
title: Create and Share Your Bracket Through Twitter
home: active
---
<div class="hero-unit">
  <h1>Tweet Your Bracket!</h1>

  <p>TweetYourBracket.com is the fastest and easiest way to share your March Madness picks with friends, family, followers and the world, all through Twitter! Make your picks, tweet 'em, and start bragging about your bracket!</p>
  
  <h2>How?</h2>
  <ol>
    <li>Scroll down and fill out your bracket</li>
    <li>When it's done, post the tweet we give you*</li>
    <li>That's it!</li>
  </ol>
  
  <p><em>*Make sure to keep the <a href="http://twitter.com/search/%23tybrkt">#tybrkt</a> hashtag and bracket URL in the tweet so we can find and save your bracket.</em></p>
  
  <h2 class="margin-top">Already made a bracket?</h2>
  
  <p>Type in your Twitter username to go to your saved bracket page</p>
  
  <form class="form-inline" id="hero-search">
    <input type="text" class="span3" placeholder="Twitter Username">
    <button type="submit" class="btn">Submit</button>
  </form>
</div>

{{{bracket}}}