---
title: Your Bracket
user: active
---

<h1>{{userName}}'s Bracket!</h1>

<p>This is the bracket for <a href="http://twitter.com/{{userName}}">{{userName}}</a>. If it's editable, that means the first game hasn't started yet. If you edit this bracket, you will have the ability to tweet it and be entered. If you already have an entered bracket, this one will overrwrite that</p>

{{{bracket}}}

