---
title: Your Bracket
user: active
---

<h1>Welcome back!</h1>

<p>Your filled out bracket is below. It is still editable up until the first game starts. To update your bracket, make any changes you would like and then just send the new tweet. Your entry will be automatically updated. (Note: this may take a few minutes).</p>

{{{bracket}}}

