---
title: Your Bracket
user: active
---

<h1>@{{userName}}'s bracket!</h1>

<p>This is the bracket for <a href="http://twitter.com/{{userName}}">@{{userName}}</a>. If it's editable, that means the first game hasn't started yet. If this isn't your bracket, you can still edit it and then tweet it to enter yourself. If you already have an entered bracket, any newer entry will overwrite older ones.</p>

{{{bracket}}}

