.row.sub-nav.bracket-nav.navbar(role="bracket-nav", data-spy="affix")
  .navbar-header.pull-right
    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bracket-nav")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #bracket-nav.collapse.navbar-collapse.pull-left
    ul.nav.nav-pills.navbar-left
      li(role='can-rewind')
        a(href="#", role="firstHistory")
          span.glyphicon.glyphicon-fast-backward
      li(role='can-rewind')
        a(href="#", role="previousHistory")
          span.glyphicon.glyphicon-step-backward
      li(role='can-fast-forward')
        a(href="#", role="nextHistory")
          span.glyphicon.glyphicon-step-forward
      li(role='can-fast-forward')
        a(href="#", role="lastHistory")
          span.glyphicon.glyphicon-fast-forward
      - if (typeof model.resetHistory === 'function')
        li(role='can-reset')
          a(href="#", role="resetHistory")
            span.glyphicon.glyphicon-ban-circle
      - if (typeof model.setAsLower === 'function')
        li
          a(href='#', role='setAsLower') 1
      - if (typeof model.setAsHigher === 'function')
        li
          a(href='#', role='setAsHigher') 16
      - if (typeof model.setAsRandom === 'function')
        li
          a(href='#', role='setAsRandom')
            span.glyphicon.glyphicon-random
  .progress-holder.col-sm-4.col-lg-3.hidden-xs.pull-right(role='progress-holder')
  .col-xs-9.col-sm-3.col-md-4.enter-button-holder(role='enter-button')
