p You'll be taken to <strong>twitter.com</strong> to tweet your bracket! After tweeting, your entry will appear on the site <strong>within 10 minutes</strong>.
.alert.alert-info.full-popover
  strong Important!
  br
  | Don't alter the <strong>url</strong> or <strong>#tybrkt hashtag</strong> of the tweet. We use those to verify your entry.