- var qs = "https://twitter.com/share?lang=en&related=tweetthebracket&count=none&hashtags=tybrkt&url=";
- qs += encodeURIComponent("http://tweetyourbracket.com/" + url);
- qs += "&text=" + encodeURIComponent(text);
a.twitter-share-button(href=qs, target="_blank") Tweet Your Bracket!