- if (complete)
    - var qs = "https://twitter.com/share?lang=en&related=tweetthebracket&count=none&hashtags=tybrkt&url=";
    - qs += encodeURIComponent("http://tweetyourbracket.com/" + url);
    - qs += "&text=" + encodeURIComponent(text);
    a.btn.btn-block.btn-primary(href=qs, target="_blank") Enter My Bracket!
- else
    button.btn.btn-block.btn-primary.disabled(type="button", disabled="disabled") Enter My Bracket!