.user-info(role="user-info")
  h2
    | #{user.username}
    | 
    a.twitter-link(href=user.profileLink)
      img(src="https://g.twimg.com/Twitter_logo_blue.png")
  p.score
    strong Total: 
    | #{user.bracket.score.standard}
    | - 
    strong Gooley: 
    | #{user.bracket.score.gooley}