section.page.entry-page
    div(role="bracket-nav")
    - if (fromEntry)
        .alert.alert-info.alert-dismissable
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            p
                strong You probably clicked on this link from Twitter.
                |  To create your own bracket, use the 
                span.glyphicon.glyphicon-ban-circle
                |  button to clear this entry and start making your own.
    div(role="bracket")