section.page.entry-page
    div(role="bracket-nav")
    .alert.alert-info.alert-dismissable
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        p <strong>Warning:</strong> This is the predicted bracket from ESPN's Bracketology, not the offical bracket. Check back after the official teams are announced to enter your bracket. <a role='subscribe' href="#" class="alert-link">Subcribe to the newsletter and we'll notify you when that happens!</a>
    div(role="bracket")