section.page.results-page
  .results
    div(role="bracket-nav")
    .table-responsive
      table.table
        thead
          th Rank
          th Username
          th
            a(data-comparator="round1") Rd 1
          th
            a(data-comparator="round2") Rd 2
          th
            a(data-comparator="round3") S16
          th
            a(data-comparator="round4") E8
          th
            a(data-comparator="round5") FF
          th
            a(data-comparator="round6") NC
          th
            a(data-comparator="standard") Total
          th
            a(data-comparator="gooley") Gooley
        tbody(role="results")